@import '../styles/themes.css';
@import '../styles/variables.css';

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}

html {
  transition: var(--transition-theme);
}

body {
  color: var(--foreground-primary);
  background: var(--background-primary);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
